<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<div>year: {{year}}</div>
<div>month: {{month}}</div>
<div>day: {{day}}</div>
<div>total: {{total}}</div>

{% for item in xs %}
<div class="small-tile {{'ok' if item else 'ko'}}">
  {{loop.index}}
</div>
{% endfor %}